@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-primary {
  @apply bg-white py-2 px-4 rounded uppercase font-semibold text-center text-theme-grey-900;
}

.btn-primary:hover {
   @apply bg-gray-200;
}

.btn-primary:disabled {
   @apply bg-white opacity-50 cursor-default;
}

.landscape {
   padding-bottom: 66.6%;
   -webkit-column-break-inside: avoid;
   page-break-inside: avoid;
   break-inside: avoid;
}

.portrait {
   padding-bottom: 150%;
   -webkit-column-break-inside: avoid;
   page-break-inside: avoid;
   break-inside: avoid;
}

.blur {
   filter: blur(.5rem);
   -webkit-filter: blur(.5rem);
   -moz-filter: blur(.5rem);
   -o-filter: blur(.5rem);
   -ms-filter: blur(.5rem);

   transition: filter .3s ease-out;
}

.active-link:after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 0;
   border-bottom: 1px solid white;
   width: 32px;
   margin: 0 auto -6px auto;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.inline-important {
   display: inline !important;
}

input[type=number]:disabled {
   @apply bg-transparent text-right;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  @apply bg-transparent;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer utilities {
   .overflow-x-scroll::-webkit-scrollbar {
      display: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
   display: none;
}

  input[type = "radio"]:checked + span {
     background-color: white;
     color: #292929;
  }
 }